body{
    background-image: url("/img/bkg_article.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/* 文章详情 */
.article-details{
    margin-top: 10px;
    margin-left: 40px;
    marg-text-outline: 3px;
    background: transparent;
}



/* 用户侧边栏*/
#user-div{
    width: 300px;
    height: 500px;
    margin-left: 6px;
    background-color: cornflowerblue;
}
/* 文章详情内容 */
#doc-content{

    width: 1005px;
    background-color: rgb(242, 242, 242);
    margin-left: 25px;
    margin-right: 10px;
}
/* 文章标签栏目 */
#tag-div{
    width: 290px;
    height: 700px;
    margin-right: 40px;
    background-color: coral;
    float: right;
}