<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>码客·社区</title>
	<link rel="stylesheet" href="/css/book-video/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/book-video/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/css/book-video/css/templatemo-style.css">

	<!-- 导航栏 -->
	<link rel="stylesheet" href="/css/navcss/nav.css">
	<link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/book-video/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../static/css/article/css/style.css">

</head>
<body>
<!-- Page Loader ： 加载动画 -->
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>
<!-- 公共: 导航条 -->
<div th:insert="~{navigation :: header-nav}"></div>

<!-- 搜索栏 -->
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/css/book-video/img/hero.jpg" style="background-image: url('/css/book-video/img/hero.jpg')">
	<form class="d-flex tm-search-form">
		<input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success tm-search-btn" type="submit">
			<i class="fas fa-search"></i>
		</button>
	</form>
</div>


<div class="container-fluid tm-container-content tm-mt-60">
	<div class="row mb-4">
		<h2 class="col-6 tm-text-primary">
			最新视频
		</h2>
		<div class="col-6 d-flex justify-content-end align-items-center">
			<form action="" class="tm-text-primary">
				页 <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 5
			</form>
		</div>
	</div>
	<!-- 视频盒子 -->
	<div class="row tm-mb-90 tm-gallery">
		<!-- 单个视频卡片 -->

		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" style="height: 254px" th:each="book: ${bookPagination.getBookDTOS()}">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-03.jpg" style="width: 350px;height: 197px" th:src="${book.book_cover}" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2 th:text="${book.category}">Clocks</h2>
					<a href="photo-detail.html">观看教程</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light" th:text="${book.name}">码客社区视频</span>
			</div>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light" th:text="${#dates.monthName(book.create_time)} + ' '+${#dates.day(book.create_time)} +', '+${#dates.year(book.create_time)}">18 Oct 2020</span>
				<span th:text="${book.view_count}+' views'">9,906 views</span>
			</div>
		</div>
		<!--<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-03.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Clocks</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">18 Oct 2020</span>
				<span>9,906 views</span>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-04.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Plants</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">14 Oct 2020</span>
				<span>16,100 views</span>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-05.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Morning</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">12 Oct 2020</span>
				<span>12,460 views</span>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-06.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Pinky</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">10 Oct 2020</span>
				<span>11,402 views</span>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-12.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Rocki</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">28 Aug 2020</span>
				<span>50,700 views</span>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
			<figure class="effect-ming tm-video-item">
				<img src="/css/book-video/img/img-13.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Purple</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
			<div class="d-flex justify-content-between tm-text-gray">
				<span class="tm-text-gray-light">22 Aug 2020</span>
				<span>107,510 views</span>
			</div>
		</div>-->
	</div> <!-- row -->

	<!-- 分页 -->
	<div class="row tm-mb-90">
		<div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
			<a  th:if="${bookPagination.isShowPrevious()}" th:href="@{/book(stat=${bookPagination.current -1})}" class="btn btn-primary tm-btn-prev mb-2">上一页</a>
			<div class="tm-paging d-flex">
				<a th:href="@{/book(stat=${page_index})}" class="tm-paging-link" th:each="page_index: ${bookPagination.pages}" th:classappend="${bookPagination.current == page_index} ? 'active':''" th:text="${page_index}">2</a>
			</div>
			<a  class="btn btn-primary tm-btn-next" th:if="${bookPagination.isShowNext()}" th:href="@{/book(stat=${bookPagination.current + 1})}">下一页</a>
		</div>
	</div>
</div> <!-- container-fluid, tm-container-content -->

<!-- 网页脚步 -->
<div th:insert="~{common :: footer-nav}"></div>

<script src="/css/book-video/js/plugins.js"></script>
<script>
    $(window).on("load", function() {
        $('body').addClass('loaded');
    });
</script>
</body>
</html>