<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 公共：导航页面-->
<body>
	<div class="common-nav" th:fragment="header-nav">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="header-nav-btn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<a href="#" th:href="@{/(pageIndex=1)}">
							<span class="sr-only">码客书屋</span>
						</a>
					</button>
					<a class="navbar-brand nav-logo" href="#" th:href="@{/}">
						<!--<img class="logo-CoderCommunity" src="" th:src="@{'/img/mk.png'}" alt="">-->
						码客书屋
					</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-graduation-cap" ></i>&nbsp;学习
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" id="">
								<li><a href="#">博客</a></li>
								<li><a href="#">文档</a></li>
								<li><a href="/learnInfo">视频</a></li>
								<li><a href="/learnInfo">书籍</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">开源</a></li>
								<li><a href="#">项目</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">资源</a></li>
								<li><a href="#">工具</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="搜索问题或文章">
						</div>
						<button type="submit" class="btn btn-default">
							<i class="fa fa-search"></i>搜索</button>
					</form>
					<ul class="nav navbar-nav" id="index-explore">
						<li >
							<a href="#"><i class="fa fa-align-left">&nbsp;发现</i>
								<span class="sr-only">(current)</span></a>
						</li>
						<li >
							<a href="#"><span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;分享
							</a>
						</li>
						<li >
							<a href="#">
								<i class="fa fa-book"></i>&nbsp;文章
							</a>
						</li>
						<li >
							<a href="#">
								<i class="fa fa-list-alt"></i>&nbsp;活动
							</a>
						</li>
						<li><a href="#">
							<i class="fa fa-cloud-download"></i>&nbsp;下载
						</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!-- 发起问题 -->

						<li class="dropdown" th:if="${session.user}!=null">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-lightbulb-o"></i>&nbsp;创造
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/createArticle" th:href="@{/createArticle}">博客</a></li>
								<li><a href="/publish">问题</a></li>
								<li><a href="/learnInfo/video">视频</a></li>
								<li><a href="/learnInfo/book">书籍</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">项目</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/qiniu/file">资源</a></li>
								<li><a href="#">工具</a></li>
							</ul>
						</li>

						<!-- 填写: 请求用户的Github 身份  -->
						<!-- 用户登录: 显示个人下拉菜单 -->
						<li class="dropdown" th:if="${session.user} != null">
							<div class="user-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
								<img class="img-circle user-avatar"  id="user-avatar"  src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1792571644,218025841&fm=26&gp=0.jpg" alt="">
								<div class="userbar-content">
									<span th:text="${session.user.name}">温柔的心</span>
								</div>
								<span class="caret"></span>
							</div>
							<ul class="dropdown-menu">
								<li><a href="#" th:href="@{/profile/personal}">个人主页</a></li>
								<li><a href="/profile/qustions" th:href="@{/profile/qustions}">文章中心</a></li>
								<li><a href="#" th:href="@{/profile/messages}">消息通知</a></li>
								<li><a href="#" th:href="@{/profile/collections}">我的收藏</a></li>
								<li><a href="#" th:href="@{/profile/resrc-tools}">我的资源</a></li>

								<li role="separator" class="divider"></li>
								<li><a href="#" th:href="@{/sign-out}">退出登录</a></li>
							</ul>
						</li>
						<!-- 用户未登录显示登录 按钮-->
						<li th:if="${session.user} == null">
							<!--href="https://github.com/login/oauth/authorize?client_id=ac68d213e55794a1f617&redirect_uri=http://localhost:8087/callback&state=1"-->
							<a href="/login">
								登录</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>