<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人页面</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/user.css">
</head>

<body>
    <!-- 导航栏 -->

    <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">码客书屋</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">动态 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">发现</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人页面 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    <!-- 主体 -->
    <div class="user-reader user-container">
        <div class="container-fluid container-widescreen ucenter">
            <div class="row">
                <div class="col-xs-12 col sm-4 col-md-3 col-lg-2">
                    <div class="ucenter-avatar">
                        <div class="panel panel-default">
                            <div class="paner-heading">个人主页</div>
                            <div class="panel-bodey">
                                <img class="thumbnail" src="img/logo.jpg" alt="zijing">
                                <div class="ucenter-info">
                                    <h3>
                                        <span>zijin</span>
                                        <small class="text-muted">(@zijin)</small>
                                        <span>
                                           <small class="text-muted">|</small>
                                           <a href="#">签到规则</a>
                                       </span>
                                    </h3>
                                    <div class="btns">
                                        <a href="#" target="_blank" class="btn btn-success btn-sm">
                                            <i class="fa fa-cogs"></i> 个人设置
                                        </a>
                                        <a href="#" target="_blank" class="btn btn-success btn-sm">
                                            <i class="fa fa-cogs"></i> 个人设置
                                        </a>
                                    </div>
                                    <div class="user-stat">
                                        <ul>
                                            <li>
                                                <span>加入网站</span>
                                                <span>1</span>
                                                <small>天</small>
                                            </li>
                                            <li>
                                                <span>加入网站</span>
                                                <span>1</span>
                                                <small>天</small>
                                            </li>
                                            <li>
                                                <span>加入网站</span>
                                                <span>1</span>
                                                <small>天</small>
                                            </li>
                                            <li>
                                                <span>加入网站</span>
                                                <span>1</span>
                                                <small>天</small>
                                            </li>
                                            <li>
                                                <span>加入网站</span>
                                                <span>1</span>
                                                <small>天</small>
                                            </li>
                                            <li>
                                                <span>今日阅读</span>
                                                <span>1</span>
                                                <small>小时</small>
                                                <span>1</span>
                                                <small>分钟</small>
                                            </li>
                                            <li>
                                                <span>今日阅读</span>
                                                <span>1</span>
                                                <small>小时</small>
                                                <span>1</span>
                                                <small>分钟</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col sm-8 col-md-9 col-lg-10">
                    <div class="col">
                        <div class="col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="action"><a href="javascript:;">分享</a></li>
                                <li>
                                    <a href="user1.html">收藏</a>
                                </li>
                                <li>
                                    <a href="">关注</a>
                                </li>
                                <li>
                                    <a href="">粉丝</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <div class="ucenter-content">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部 -->
    <div class="footer-wra">
        <div class="footer">
            Copyright © 2021 ·
            <a href="#" target="_blank" title="转载">CC BY-NC-SA 3.0</a>
            <span>
                <a href="/index01.html" target="_blank">博客书屋</a>
            </span>
            <p>
                本网站由LJH ， HH 制作
            </p>
        </div>
    </div>
</body>

</html>