<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.community.mapper.VideoResourceMapper">
  <resultMap id="BaseResultMap" type="com.hk.community.model.VideoResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_resource" jdbcType="VARCHAR" property="videoResource" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_name, video_id, video_resource
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_video_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_video_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hk.community.model.VideoResource">
    insert into tb_video_resource (id, video_name, video_id, 
      video_resource)
    values (#{id,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{videoId,jdbcType=INTEGER}, 
      #{videoResource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hk.community.model.VideoResource">
    insert into tb_video_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoResource != null">
        video_resource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoResource != null">
        #{videoResource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hk.community.model.VideoResource">
    update tb_video_resource
    <set>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoResource != null">
        video_resource = #{videoResource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hk.community.model.VideoResource">
    update tb_video_resource
    set video_name = #{videoName,jdbcType=VARCHAR},
      video_id = #{videoId,jdbcType=INTEGER},
      video_resource = #{videoResource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>